
<div class="difficulty-selector">


    @using (Html.BeginForm("LoadNewGameBoard", "GameCenter", FormMethod.Post, new { id = "difficulty-selector" }))
    {
        <select name="difficulty">
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Expert">Expert</option>
        </select>
        <input type="submit" name="submit" value="New Game!" />
    }
</div>