@model Mines_Web.Models.BoardModel

<div class="timer">60</div>


@using (Html.BeginForm("OnCellClick", "GameCenter", FormMethod.Post))
{
    for (int row = 0; row < Model.NumOfRows; row++)
    {
        for (int col = 0; col < Model.NumOfColumns; col++)
        {
            if (Model.Grid[col, row].Visited == true)
            {
                <button value="@(col + " " + row)" type="submit" name="cellLocation" class="cell-button-visited">@Model.Grid[col, row].LiveNeighbors</button>
            }
            else
            {
                <button value="@(col + " " + row)" type="submit" name="cellLocation" class="cell-button">-</button>
            }
        }
        <br />
    }
}