@model List<Mines_Web.Models.GameObject>

    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="saved-game-box">
            <div class="saved-game-title saved-game-row"> @Model[i].DateCreated </div>
            <div class="saved-game-id saved-game-row">ID: @Model[i].Id</div>
            <div class="load-game-button saved-game-row">
                @Html.ActionLink(
                    "Continue",
                    "LoadGame",
                    "GameCenter",
                    new { gameID = Model[i].Id },
                    null
                )
            </div>

    
        </div>
    }

