
@{
    ViewBag.Title = "GameCenter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Custom-CSS/styles_GameCenter.css" rel="stylesheet" />

<h2>GameCenter</h2>

<main class="game-center-content">

    <section id="game-board-section" class="game-center-section">
        <div id="game-board-section-title" class="section-title">MineSweeper</div>
        <div id="game-board-content" class="section-content">
            @Html.Action("LoadGameBoard","GameCenter")
        </div>
    </section>

    <section id="saved-games-section" class="game-center-section">
        <div id="saved-games-section-title" class="section-title">Saved Games</div>
        <div id="saved-games-content" class="section-content">

        </div>
    </section>

    <section id="stats-section" class="game-center-section">
        <div id="stats-section-title" class="section-title">Stats</div>
        <div id="stats-content" class="section-content">

        </div>
    </section>
</main>

<script src="~/Scripts/scripts-GameBoard.js"></script>