@model Mines_Web.Models.PrincipalModel

<link href="~/Content/styles_SignIn.css" rel="stylesheet" />

<!-- BEGIN LOGIN FORM -->

<div id="signInForm">
    <div class="full-wrapper">
        <div class="form-container">
            <div class="login-page-form">

                @using (Html.BeginForm("Authenticate", "SignIn", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="login-page-form-title">Sign in</div>

                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { type = "text", placeholder = "Username" } })

                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { type = "password", placeholder = "Password" } })

                    <input type="submit" class="submit-button" value="Sign In" />
                    @*<div class="switch-form-button">Register</div>*@
                    @Ajax.ActionLink("Register",
                    "LoadRegForm",
                    null,
                    new AjaxOptions
                    {
                        UpdateTargetId = "signInForm",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET"
                    },
                    new { @class = "switch-form-button" })
                }
            </div>
        </div>
    </div>
</div>
<!-- END LOGIN FORM -->
