
.game-center-section {
    margin: 0 10px;
    width: 100%;
}

.game-center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section-content {
    border: 1px solid #707070;
}

#game-board-content {
    height: 654px;
    font-size: 0;
    position: relative;
}

.timer {
    font-size: 33px;
    color: #61D9DE;
    text-align: center;
}

.cell-button {
    width: 36px;
    height: 36px;
    margin: 0;
    padding: 0;
    border-style: none;
    border: 1px solid #C4BEBE;
    transition: background .2s ease-in-out;
    background: url(/Images/MUnvisited.jpg);
}

    .cell-button:not(.flagged):hover {
        background: #E739F5;
    }

    .cell-button:focus {
        outline: none;
    }

.cell-button-visited {
    width: 36px;
    height: 36px;
    margin: 0;
    padding: 0;
    border-style: none;
    border: 1px solid #C4BEBE;
    transition: all .2s ease-in-out;
    overflow: hidden;
}

    .cell-button-visited:focus {
        outline: none;
    }

.cell-button-visited-zero {
    background: url(/Images/white.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cell-button-visited-one {
    background: url(/Images/M1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cell-button-visited-two {
    background: url(/Images/M2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cell-button-visited-three {
    background: url(/Images/M3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cell-button-visited-four {
    background: url(/Images/M4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cell-button-visited-five {
    background: url(/Images/M5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cell-button-visited-six {
    background: url(/Images/M6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cell-button-visited-seven {
    background: url(/Images/M7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cell-button-visited-eight {
    background: url(/Images/M8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cell-button-visited-bomb {
    background: url(/Images/MBomb.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cell-button-visited-detonated {
    background: url(/Images/MBombDetonated.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flagged {
    background: url(/Images/MFlagged.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game-difficulty-button{
    width: 272px;
    font-size:14px;
}


/*.cell-button-visited img {
    border: 1px solid black;
}*/